@tailwind base;
@tailwind components;
@tailwind utilities;
.appGreen{color:#00923F}
.appGreenBg{background-color: #00923F;}
.appGreenDark{background-color: #006A2E;}
.textGrey{color:#4E4E4E}
.appRed{color:#E60019}
.appRedBg{background-color:#E60019}
.customBlack{color:#111315}
.customGrey{background-color: #F4F4F4;}
.appBlue{color:#0EA5E9}
.myOverflow ::-webkit-scrollbar {
       display: none;
     }
     body::-webkit-scrollbar {
      display: none;
    }
    
    html {
      scrollbar-width: none;
    }
    .myOverflow {
      scrollbar-width: none;
   
    }
     .myOverflow {
       -ms-overflow-style: none;
       scrollbar-width: none;
     }
     ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    black;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    black;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    black;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    black;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    black;
  }
  
  ::placeholder { /* Most modern browsers support this now. */
     color:    black;
  }
     .container {
      display: block;
      position: relative;
  
      cursor: pointer;
      -webkit-user-select: none;
    
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
     
      opacity: 0;
      cursor: pointer;
      height: 0;
    
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 15px;
      width: 15px;
      background-color: rgb(185, 179, 179);
      /* background-color: #00923F; */
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #00923F
    }
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 40%;
      top: 4%;
      width: 5px;
      height: 10px;
      border: solid white;
    
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }